body {
  width: 100vw;
  height: 100vh;
  background: url('/assets/app/layout/static/lemu.jpg') no-repeat center fixed;
  background-size : cover;
  
  h1.main-title {
    font-size: 3.5rem;
    padding: 1rem;
    background: linear-gradient(top, transparentify($white, 0.4), transparentify($white, 0));
  }
}
