@require 'form.styl'

body {
  width: 100vw;
  height: 100vh;
  background: url('/assets/app/layout/static/lemu.jpg') no-repeat center fixed;
  background-size : cover;
  font-family: standardFont;
  color: $primaryFontColor;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  h1.main-title {
    font-size: 3.5rem;
    padding: 1rem;
    text-shadow: -1px -1px 4px transparentify(#FFFFFF, 0.3);
    background: linear-gradient(top, transparentify(#FFFFFF, 0.4), transparentify(#FFFFFF, 0));
  }
  
  div.content {
    flex-grow: 1;
  }

  p {
    margin-bottom: 1rem;
  }

  pre {
    font-family: monotypeFont;
  }
}
