music-playlist {
  max-width: 50%;
  min-width: 30%;
  background-color: $backgroundWhite;
  margin: 0 auto;
  border-radius: 0.25rem;
  padding: 1rem;

  display:flex;
  flex-direction: column

  button.upload-button:before {
    font-family: icons;
    content: '\E808';
  }

}

