music-playlist {
  flex-grow: 1;
  background-color: $backgroundWhite;
  padding: 1rem;

  display:flex;
  flex-direction: column

  button.upload-button:before {
    font-family: icons;
    content: '\E808';
  }

}

