
<section class="panels">

  <music-playlist socket="remoteMplayer.socket"></music-playlist>

  <!-- ****************** -->
  <!-- ****************** -->

  <div class="music-search panel ng-hide" ng-hide="!remoteMplayer.searchDisplay">
    <form>
      <form-element class="search-element">
        <label>Search some music</label>
        <input
          type="text"
          name="search"
          placeholder="Search some music"
          ng-model="remoteMplayer.searchText"
          ng-model-options="{debounce: {'default': 300, 'blur': 0}}"
          ng-change="remoteMplayer.searchMusicAction()"
          required>
      </form-element>
    </form>
    <music-files socket="remoteMplayer.socket" music-list="remoteMplayer.searchResponse" scroll></music-files>
  </div>

  <!-- ****************** -->

  <div class="file-upload panel ng-hide" ng-hide="!remoteMplayer.fileUploadDisplay">
    <div
      class="file-drop-zone"
      nv-file-drop uploader="remoteMplayer.fileUploader"
      nv-file-over
    >
      <div ng-show="!remoteMplayer.fileUploader.queue.length" class="empty-drop-zone"></div>

      <div class="file-list" ng-show="remoteMplayer.fileUploader.queue.length">
        <div class="file" ng-repeat="item in remoteMplayer.fileUploader.queue">
          {{ item.file.name }}
        </div>
      </div>

    </div>

    <div class="button-bar">
      <button
        ng-disabled="!remoteMplayer.fileUploader.queue.length"
        ng-click="remoteMplayer.uploadFilesAction()"
        class="upload-button"
        title="upload"></button>
    </div>
  </div>

  <!-- ****************** -->
  <!-- ****************** -->

  <div class="tabs">
    <div
      ng-click="remoteMplayer.toggleSearchDisplayAction();"
      ng-class="{'selected': remoteMplayer.searchDisplay}"
      class="search"
    ></div>

    <div
      ng-click="remoteMplayer.toggleFileUploadDisplayAction();"
      ng-class="{'selected': remoteMplayer.fileUploadDisplay}"
      class="file-upload"
    ></div>
  </div>
</section>

<music-player socket="remoteMplayer.socket"></music-player>
