///////////
// FONTS //
///////////

$primaryFontColor = #222222;
$disabledFontColor =#999999;
$filigreeFontColor = transparentify($disabledFontColor, 0.2);

////////////
// COLORS //
////////////

$basicWhite = #EFEFEF;
$primaryColor = #973120;
$secondaryColor = #E8CC17;
$disabledColor = #CCCCCC;
$filigreeColor = transparentify($disabledColor, 0.2);

///////////////////////
// BACKGROUND-COLORS //
///////////////////////

$backgroundWhite = transparentify($basicWhite, 0.9);
$backgroundEmphase = transparentify($primaryColor, 0.2);
