@font-face {
  font-family: 'monotypeFont';
  font-style: normal;
  font-weight: 400;
  src: local('Anonymous Pro'), local('AnonymousPro'), url(https://fonts.gstatic.com/s/anonymouspro/v8/Zhfjj_gat3waL4JSju74Ew0i6FLdpBmzP0FWBpudih4.woff2) format('woff2');
}

@font-face {
  font-family: 'standardFont';
  font-style: normal;
  font-weight: 400;
  src: local('Source Sans Pro'), local('SourceSansPro-Regular'), url(https://fonts.gstatic.com/s/sourcesanspro/v9/ODelI1aHBYDBqgeIAH2zlMiuYsbw7ku9F25X8Z55niY.woff2) format('woff2');
}

@font-face {
  font-family: 'sound';
  src: url('/assets/fonts/sound/icon-font.eot?81894429');
  src: url('/assets/fonts/sound/icon-font.eot?81894429#iefix') format('embedded-opentype'),
       url('/assets/fonts/sound/icon-font.woff?81894429') format('woff'),
       url('/assets/fonts/sound/icon-font.ttf?81894429') format('truetype'),
       url('/assets/fonts/sound/icon-font.svg?81894429#icon-font') format('svg');
  font-weight: normal;
  font-style: normal;
}
