
.button-bar {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

button {
  transition: all 150ms ease;
  margin: 0.5rem;
  background: linear-gradient(top, transparentify(#FFFFFF, 0.6) 0.75rem, transparentify(#FFFFFF, 0) 100%);
  background-color: $secondaryColor;
  border: 1px solid $secondaryColor;
  padding: 0.5rem;
  border-radius: 0.25rem;
  color: $primaryFontColor;

  &:before {
    color: darken($secondaryColor, 35%);
  }

  &:hover {
    cursor: pointer;
    background-color: $highlightColor;
    border-color: $highlightColor;

    &:before {
      color: darken($highlightColor, 35%);
    }
  }

  &:active {
    cursor: pointer;
    background-color: darken($highlightColor, 20%);
    border-color: darken($highlightColor, 20%);

    &:before {
      color: darken($highlightColor, 55%);
    }
  }

  &:disabled {
    transition: all 150ms ease;
    color: $disabledFontColor;
    background-color: $disabledColor;
    border-color: $disabledColor;

    &:before {
      color: $disabledFontColor;
    }

    &:hover {
      cursor: not-allowed;
    }

  }
}
