
<div
  class="play-button"
  ng-click="musicPlayer.playAction()"
  ng-if="musicPlayer.pause"
></div>
<div
  class="pause-button"
  ng-click="musicPlayer.pauseAction()"
  ng-if="!musicPlayer.pause"
></div>

<div class="infoline">
  <div class="title">{{ musicPlayer.meta.title || 'Pas de lecture' }}</div>
  <div class="volume">
    <input
      type="range"
      min="0"
      max="100"
      ng-model="musicPlayer.volume"
      ng-change="musicPlayer.volumeAction()"
    />
  </div>
</div>

<div class="timeline">
  <div>{{ musicPlayer.meta.timePosition }}</div>
  <input
    type="range"
    min="0"
    max="{{ musicPlayer.meta.durationSecond }}"
    ng-model="musicPlayer.meta.timePositionSecond"
    ng-mouseup="musicPlayer.timeLineAction()"
  />
  <div>{{ musicPlayer.meta.duration }}</div>
</div>
