music-player {

  @keyframes ng-enter {
    from {
      transform: rotateY(90deg);
    }
    50% {
      transform: rotateY(90deg);
    }
    to {
      transform: rotateY(0deg);
    }
  }
  @keyframes ng-leave {
    from {
      transform: rotateY(0deg);
    }
    50% {
      transform: rotateY(-90deg);
    }
    to {
      transform: rotateY(-90deg);
    }
  }

  & section.control-panel {
    display: block;
    position: relative;
    border-top: 1px solid $disabledFontColor;

    playpause-button() {
      transform-style:preserve-3d;
      position: absolute;
      font-size: 5rem;
      width: 1em;
      height: 1em;
      padding: 4.5rem;
      border-radius: 100%
      background: none;
      bottom: -1rem;
      left: -1.7rem;
      display: block;
      align-items: center;
      justify-content: center;
      box-shadow: 4px 4px 4px 0px transparentify(#000000, 0.6);
      margin: 0;
      border: 0;
      animation-duration: 300ms;

      &:before {
        font-family: icons;
        color: $primaryFontColor;
        position: absolute;
      }

      &:hover {
        background-color: darken($highlightColor, 30%);
      }

      &:disabled {
        background-color: $disabledColor;

        &:before {
          color: $disabledFontColor;
        }
      }

      &.ng-enter {
        animation-name: ng-enter;
        animation-timing-function: ease-in;
      }
      &.ng-leave {
        animation-name: ng-leave;
        animation-timing-function: ease-out;
      }
    }

    .play-button {
      playpause-button()
      background-color: $primaryColor;

      &:before {
        content: '\E800';
        left: 3.5rem;
        top: 1.75rem;
      }
    }

    .pause-button {
      playpause-button()
      background-color: $primaryColor;
      &:before {
        content: '\E801';
        left: 2.75rem;
        top: 1.75rem;
      }
    }

    .infoline {
      background-color: $backgroundWhite;
      display: flex;
      flex-direction: row;
      align-items: center;
      padding-left: 8rem;
      padding-right: 1rem;
      padding-top: 0.5rem;

      div {
        margin-right: 1rem;

        &:last-child {
          margin-right: 0;
        }
      }

      button.previous-track,
      button.next-track,
      button.loop-playlist,
      button.random-playlist {
        background: none;
        border: 1px solid $filigreeFontColor;
        padding: 0.25rem 1rem;
        margin: 0;

        &:before {
          color: $primaryFontColor;
        }

        &:hover {
          background-color: $backgroundHighlight;
        }

        &:disabled {
          background-color: $disabledColor;

          &:before {
            color: $disabledFontColor;
          }
        }
      }

      button.previous-track,
      button.loop-playlist {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }

      button.next-track,
      button.random-playlist {
        margin-right: 1rem;
        border-left: none;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
      }

      button.previous-track:before {
        font-family: icons;
        content: '\E802';
      }

      button.next-track:before {
        font-family: icons;
        content: '\E803';
      }

      button.loop-playlist:before {
        font-family: icons;
        content: '\E80E';
      }

      button.random-playlist:before {
        font-family: icons;
        content: '\E80D';
      }

      button.loop-playlist.selected:before,
      button.random-playlist.selected:before {
        color: $primaryColor;
      }

      .volume {
        display: flex;
        flex-direction: row;
        align-items: center;

        flex-grow: 1;

        &:before {
          font-family: icons;
          content: '\E805';
        }

        &:after {
          font-family: icons;
          content: '\E807';
        }

        input {
          flex-grow: 1;
        }
      }
    }

    .timeline {
      background-color: $backgroundWhite;
      display: flex;
      flex-direction: row;
      align-items: center;
      padding-left: 8rem;
      padding-right: 1rem;
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;

      input {
        flex-grow: 1;
      }

    }

  }
}
