<section class="control-panel">
  <button
    class="play-button"
    ng-click="musicPlayer.playAction()"
    ng-if="musicPlayer.pause"
    ng-disabled="musicPlayer.playlistLength === 0"
  ></button>
  <button
    class="pause-button"
    ng-click="musicPlayer.pauseAction()"
    ng-if="!musicPlayer.pause"
  ></button>

  <div class="infoline">
    <button
      class="previous-track"
      ng-click="musicPlayer.previousTrackAction()"
      ng-disabled="musicPlayer.playlistLength === 0 || musicPlayer.currentTrackIndex === 0"
    ></button>
    <button
      class="next-track"
      ng-click="musicPlayer.nextTrackAction()"
      ng-disabled="musicPlayer.playlistLength === 0 || (musicPlayer.currentTrackIndex === (musicPlayer.playlistLength - 1)  && !musicPlayer.isLoopPlaying)"
    ></button>

    <button
      class="loop-playlist"
      ng-click="musicPlayer.toggleLoopPlaylistAction()"
      ng-class="{'selected': musicPlayer.isLoopPlaying}"
    ></button>
    <button
      class="random-playlist"
      ng-click="musicPlayer.toggleRandomPlaylistAction()"
      ng-class="{'selected': musicPlayer.isRandomPlaying}"
    ></button>

    <div class="title">{{ musicPlayer.currentTrack.title || 'Pas de lecture' }}</div>

    <div class="volume">
      <input
        type="range"
        min="0"
        max="100"
        ng-model="musicPlayer.volume"
        ng-change="musicPlayer.volumeAction()"
      />
    </div>
  </div>

  <div class="timeline">
    <div>{{ musicPlayer.timePosition | formatSeconds }}</div>
    <input
      type="range"
      min="0"
      max="{{ musicPlayer.currentTrack.duration || 10 }}"
      ng-model="musicPlayer.timePosition"
      ng-mouseup="musicPlayer.timeLineAction()"
    />
    <div>{{ musicPlayer.currentTrack.duration | formatSeconds }}</div>
  </div>
</section>
