<section class="control-panel">
  <button
    class="play-button"
    ng-click="musicPlayer.controls.playAction()"
    ng-if="musicPlayer.controls.pause"
    ng-disabled="musicPlayer.controls.playlistLength === 0"
  ></button>
  <button
    class="pause-button"
    ng-click="musicPlayer.controls.pauseAction()"
    ng-if="!musicPlayer.controls.pause"
  ></button>

  <div class="infoline">
    <button
      class="previous-track"
      ng-click="musicPlayer.controls.previousTrackAction()"
      ng-disabled="musicPlayer.controls.playlistLength === 0 || musicPlayer.controls.currentTrackIndex === 0"
    ></button>
    <button
      class="next-track"
      ng-click="musicPlayer.controls.nextTrackAction()"
      ng-disabled="musicPlayer.controls.playlistLength === 0 || (musicPlayer.controls.currentTrackIndex === (musicPlayer.controls.playlistLength - 1)  && !musicPlayer.controls.isLoopPlaying)"
    ></button>

    <button
      class="loop-playlist"
      ng-click="musicPlayer.controls.toggleLoopPlaylistAction()"
      ng-class="{'selected': musicPlayer.controls.isLoopPlaying}"
    ></button>
    <button
      class="random-playlist"
      ng-click="musicPlayer.controls.toggleRandomPlaylistAction()"
      ng-class="{'selected': musicPlayer.controls.isRandomPlaying}"
    ></button>

    <div class="volume">
      <input
        type="range"
        min="0"
        max="100"
        ng-model="musicPlayer.controls.volume"
        ng-change="musicPlayer.controls.volumeAction()"
      />
    </div>
  </div>

  <div class="timeline">
    <div>{{ musicPlayer.controls.timePosition | formatSeconds }}</div>
    <input
      type="range"
      min="0"
      max="{{ musicPlayer.controls.currentTrack.duration || 10 }}"
      ng-model="musicPlayer.controls.timePosition"
      ng-mouseup="musicPlayer.controls.timeLineAction()"
    />
    <div>{{ musicPlayer.controls.currentTrack.duration | formatSeconds }}</div>
  </div>
</section>
