div.content[state^="music-player"] {
  display: flex;
  flex-direction: column;

  _music-file-width = calc(100% - 17rem);

  @keyframes remove {
    from {
      width: 0;
      padding: 1rem 0;
    }
    to {
      width: _music-file-width;
      padding: 1rem;
    }
  }
  @keyframes add {
    from {
      width: _music-file-width;
      padding: 1rem;
    }
    to {
      width: 0;
      padding: 1rem 0;
    }
  }

  header {
    display: block;
    position: absolute;
    z-index: 1;

    button {
      transform-style:preserve-3d;
      position: absolute;
      font-size: 2.5rem;
      padding: 5rem 2rem 2rem 5rem;
      border-radius: 100%
      background: none;
      top: -4rem;
      left: -4rem;
      display: block;
      align-items: center;
      justify-content: center;
      width: 16rem;
      height: 13rem;
      box-shadow: 4px 4px 4px 0px transparentify(#000000, 0.6);
      margin: 0;
      border: 0;
      animation-duration: 300ms;
      background-color: $primaryColor;

      &:hover {
        background-color: darken($highlightColor, 30%);
      }
    }

  }

  section.panels {
    flex: 1 50;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    overflow: hidden;

    music-playlist {
      width: 12rem;
      padding-top: 8.5rem;
      padding-bottom: 1.75rem;
    }

    music-files {
      max-height: calc(100% - 1rem);
    }

    .panel {
      animation-duration: 300ms;
      background-color: $backgroundWhite;
      padding: 1rem;

      width: _music-file-width;

      &.ng-hide-remove {
        animation-name: remove;
        animation-timing-function: ease-in;
      }

      &.ng-hide-add {
        animation-name: add;
        animation-timing-function: ease-in;
      }
    }

    div.tabs {
      width: 5rem;

      div.search,
      div.file-upload {
        transition: all 300ms ease;
        width: 64px;
        height: 64px;
        font-size: 1.5rem;
        background-color: $backgroundWhite;
        margin: 0.5rem 0;
        display: flex;
        border-top-right-radius: 0.5rem;
        border-bottom-right-radius: 0.5rem;

        &:before {
          margin: auto;
          user-select: none;
        }

        &:hover {
          cursor: pointer;
          width: 72px;
          font-size: 2rem;
          color: $primaryColor;
        }

        &:hover:not(.selected) {
          cursor: pointer;
          width: 72px;
          font-size: 2rem;
          color: $highlightFontColor;
        }

        &.selected {
          color: $primaryColor;
        }
      }

      .search {
        &:before {
          font-family: icons;
          content: '\E80C';
        }
      }

      .file-upload {
        &:before {
          font-family: icons;
          content: '\E808';
        }
      }

    }

  }

  form-element.search-element label {
    display: none;
  }

  .file-drop-zone {
    transition: all 300ms ease;
    display: flex;
    flex-direction: column;
    border: 1px solid $filigreeColor;
    border-radius: 0.25rem;
    background: linear-gradient(top, transparentify(#FFFFFF, 0.6) 10%, transparentify(#FFFFFF, 0) 100%);
    background-color: $backgroundWhite;

    &.nv-file-over {
      background-color: lighten($highlightColor, 60%);
    }

    .file-list {
      //flex-grow: 1;
    }

    .empty-drop-zone {
      margin: auto;
      user-select: none;
      padding: 1rem;

      &:before {
        font-size: 3rem;
        color: $filigreeFontColor;
        font-family: icons;
        content: '\E80A';
      }

      &:hover {
        cursor: default;
      }
    }
  }

  button.upload-button:before {
    font-family: icons;
    content: '\E808';
  }

}

body.common-dragging .file-drop-zone {
  background-color: lighten($highlightColor, 80%);
}
