$themeName = 'standard';

@require 'nib'
@import 'nib/gradients'

global-reset();

// import theme
@require 'themes/' + $themeName + '/color.styl'
@require 'themes/' + $themeName + '/font.styl'

// import the stylus file that will import the common module's styles
@require 'common/common.styl'

// import the layout stylesheet
@require 'layout/layout.styl'
